<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <script
      src="https://kit.fontawesome.com/71259ed52b.js"
      crossorigin="anonymous"
    ></script>

    <link rel="stylesheet" href="colors.css" />
    <link rel="stylesheet" href="style.css" />
    <script type="module" defer src="../loaders/eventListeners.js"></script>
    <title>Graphic Editor</title>
  </head>
  <body>
    <header>
      <div id="toolbar">
        <i id="path" class="active shapeBtn fas fa-paint-brush"></i>
        <i id="line" class="shapeBtn fas fa-vector-square"></i>
        <i id="circle" class="shapeBtn far fa-circle"></i>
        <i id="curve" class="shapeBtn fas fa-bezier-curve"></i>
      </div>
    </header>
    <main>
      <aside id="colorPicker">
        <div id="colorsGrid">
          <div id="turquoise" class="color"></div>
          <div id="emerald" class="color"></div>
          <div id="nephritis" class="color"></div>
          <div id="sea" class="color"></div>
          <div id="sun" class="color"></div>
          <div id="carot" class="color"></div>
          <div id="orange" class="color"></div>
          <div id="pumpkin" class="color"></div>
          <div id="alizarin" class="color"></div>
          <div id="pomegranate" class="color"></div>
          <div id="amhtyst" class="color"></div>
          <div id="westeria" class="color"></div>
          <div id="river" class="color"></div>
          <div id="belize" class="color"></div>
          <div id="asphalt" class="color"></div>
          <div id="clouds" class="color"></div>
          <div id="silver" class="color"></div>
          <div id="concrete" class="color"></div>
          <div id="asbetos" class="color"></div>
          <div id="midnight" class="color"></div>
          <div id="black" class="color"></div>
        </div>
      </aside>
      <div>
        <canvas width="550" height="480"></canvas>
      </div>
    </main>
    <!-- You can also require other files to run in this process -->
  </body>
</html>
