<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP -->
    <meta http-equiv="Content-Security-Policy" />
    <meta
      http-equiv="X-Content-Security-Policy"
      content="default-src 'self'; script-src 'self'"
    />
    <script
      src="https://kit.fontawesome.com/71259ed52b.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="style.css" />
    <script type="module" defer src="../loaders/eventListeners.js"></script>
    <title>Graphic Editor</title>
  </head>
  <body>
    <header>
      <div id="toolbar">
        <i id="path" class="active shapeBtn fas fa-paint-brush"></i>
        <i id="line" class="shapeBtn fas fa-vector-square"></i>
        <i id="circle" class="shapeBtn far fa-circle"></i>
        <i id="curve" class="shapeBtn fas fa-bezier-curve"></i>
      </div>
    </header>
    <main>
      <canvas width="800" height="540"></canvas>
    </main>
    <!-- You can also require other files to run in this process -->
  </body>
</html>
