* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #bababa;
  box-sizing: border-box;
}

header {
  display: flex;
  align-content: center;
  background-color: #3c3e47;
  height: 60px;
}

main {
  display: flex;
  height: 100%;
}

canvas {
  background-color: white;
  margin-top: 60px;
}

aside {
  width: 200px;
  background: #ecf0f1;
  margin-right: 55px;
  border-right: 3px solid #b5b6b8;
}

#toolbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin-right: 60px;
  margin-left: 266px;
}

.shapeBtn {
  color: whitesmoke;
  font-size: 32px;
}

.active {
  color: #019ffd;
}

#colorsGrid {
  display: inline-grid;
  grid-template-columns: 50px 50px 50px;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}

.color {
  height: 50px;
}
