* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #bababa;
  box-sizing: border-box;
}

header {
  display: flex;
  align-content: center;
  background-color: #3c3e47;
  height: 60px;
}

main {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

canvas {
  background-color: white;
}

#toolbar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.shapeBtn {
  color: whitesmoke;
  font-size: 32px;
}

.active {
  color: #019ffd;
}
